<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Job Listings</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="navbar-brand d-flex align-items-center text-white">
            <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo" width="40" height="40" class="d-inline-block align-top">
            <span class="brand-text">Job Recommendation System</span>
        </a>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('job_listings') }}">Job Listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a> 
          </li>
        <div class="auth-links">
            {% if current_user.is_authenticated %}
                <a class="logout-btn" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a class="login-btn" href="{{ url_for('login') }}">Login</a>
                <a class="register-btn" href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
    </nav>
    <div class="container container-jobs">
        <h2 class="mb-4">All Available Jobs</h2>
        {% for job in jobs %}
            <div class="job-card">
                    <div class="job-title"><i class="fas fa-briefcase"></i> {{ job.title }}</div>
                    <div class="job-company"><i class="fas fa-building"></i> Company: {{ job.company }}</div>
                    <div class="job-salary"><i class="fas fa-money-bill-wave"></i> Salary: {{ job.salary }}</div>
                    <div class="job-description"><i class="fas fa-align-left"></i> Description: {{ job.description }}</div>
                    <form method="POST" action="{{ url_for('apply_job') }}">
                        <input type="hidden" name="job_id" value="{{ job['job_id'] }}">
                        <button type="submit" class="btn">Apply</button>
                      </form>
            </div>
        {% endfor %}
        <a href="{{ url_for('index') }}" class="btn">Home</a>
    </div>

</body>
</html>
